name: Deploy Catraca JBS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: instalando JDK
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Compilando a main
      run: |
            cd src && javac -cp . Main.java
    
    - name: Compilando Classe Teste
      run: |
            cd src && javac -cp . Teste.java
