name: Deploy Catraca JBS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: instalando JDK
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Compilando a main
      run: |
            cd src && javac -cp . Main.java
    
    - name: Compilando Classe Teste
      run: |
            cd src && javac -cp . Teste.java
            
    - name: Generate version
      uses: mathieudutour/github-tag-action@v5
      id: semver
      with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          prefix: 'v'
      
    - name: Check out code
      uses: actions/checkout@v3
      
    - name: Build & push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: |
          lavinia090/cracha_jbs:${{ steps.semver.outputs.version }}
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
